<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bitter:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">

</head>
<body>
  {{>header}}
  <main>
    <h2>About 6th Man</h2>
    <p class="about_p">Sixth Man is a web application developed with Node.js, Chart.js & the balldontlie.io API. The landing page features a random Player of the Day changing on the hour and the Find page allows you to build your own custom graphs. Whether you're looking to discover trivia about a new player or arguing with your buddies about who's really the GOAT - 6th Man is here to help.</p>
    {{>footer}}
  </main>

</body>
</html>
