<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/find.css">
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bitter:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">

</head>
<body>
  {{>header}}
  <main>
    <h2 id="msg">Search for a player to graph!</h2>
    <form>
      <label id='name_label' for="name">Player Name : </label>
      <input type='text' id="name" required>
      <label id="season_label" for="season">Season : </label>
      <input type='text' id='season' required>
      <input id="submit" type="submit">
    </form>

    <canvas id="chart" width="100" height="100"></canvas>
    <div id="btn_grid">
      <button id="player_1"></button>
      <button id="player_2"></button>
      <button id="player_3"></button>
      <button id="player_4"></button>
      <button id="player_5"></button>
      <button id="player_6"></button>
      <button id="player_7"></button>
      <button id="player_8"></button>
      <button id="remove">Remove All</button>
    </div>

  </main>

  {{>footer}}
  <script src="../js/chart.js/dist/Chart.js"></script>
  <script src="../js/find/utils.js" var buttons, var colors, var chooseColor, var minsToGraph, var setButtonStyles;></script>
  <script src="../js/find/custom_chart.js" var myChart;></script>
  <script src="../js/find/search_button.js"></script>
  <script src="../js/find/custom_button_remove.js"></script>
</html>
