<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bitter:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">

</head>
<body>
  {{>header}}
  <main>
    <form>
      <label for="name">Player Name : </label>
      <input type='text' id="name" required>
      <label for="season">Season : </label>
      <input type='text' id='season' required>
      <input id="submit" type="submit">
    </form>
    <h1 id="p_name"></h1>
    <h1 id="p_team"></h1>
    <h1 id="p_id"></h1>
    <p id ="stats"></p>

    <canvas id="chart" width="100" height="100"></canvas>

  </main>

  {{>footer}}
  <script src="../js/chart.js/dist/Chart.js"></script>
  <script src="../js/custom_chart.js" var myChart;></script>
  <script src="../js/search_button.js"></script>
</html>
