<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bitter:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">

</head>
<body>
  {{>header}}
  <main>
    <h2>Player of the day not appearing</h2>
    <p class="reg_p">Give us a minute! Player of the day refreshes every {{refresh_timer}} minutes. Reload in a few.</p>
    <h2>Player of the day has no stats</h2>
    <p class="reg_p">Player of the day stats are pulled from their last season in the NBA. Not every player had a good one!</p>
    <h2>I can't find a player in the search</h2>
    <p class="reg_p">The data from balldontlie.io is only for seasons 1979 - current. </p>
    {{>footer}}
  </main>

</body>
</html>
