<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <h1>Testing the view</h1>
  <h2>Wonder if this will work</h2>
  <h2>{{first_name}}</h2>
  <h2>{{last_name}}</h2>
</body>
</html>
