<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <table>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Season</th>
      <th>G</th>
      <th>Min</th>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
      <th>FGP</th>
      <th>FTP</th>
    </tr>
    <tr>
      <td id="name"></td>
      <td id="team"></td>
      <td id="season"></td>
      <td id="games"></td>
      <td id="minutes"></td>
      <td id="points"></td>
      <td id="rebounds"></td>
      <td id="assists"></td>
      <td id="fgp"></td>
      <td id="ftp"></td>
    </tr>
  </table>
  <script src="../js/potd.js"></script>
</body>
</html>
