<header>
  <a href="../"><img src="../img/mobile_header.svg"></a>
  <h1 id="title"><a href="../">Sixth Man <i>Basketball Stats</i></a></h1>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about">Help</a></li>
    </ul>
  </nav>
</header>
