<header>
  <h1 id="title">Sixth Man</h1>
  <h3 id="sub">Basketball Stats</h3>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about">Help</a></li>
    </ul>
  </nav>
</header>
