#btn_grid {
  max-width: 960px;
  grid-gap: 1rem;
  margin-bottom: 15%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    "player_1 player_2 player_3 player_4"
    "player_5 player_6 player_7 player_8"
}

#btn_grid button {
  width: 90px;
  height: 45px;
  margin: 0 auto;
  transition: width 1.5s;
  padding: .25rem .5rem;
}

#player_1 {
  grid-area: player_1;
}

#player_2 {
  grid-area: player_2;
}

#player_3 {
  grid-area: player_3;
}

#player_4 {
  grid-area: player_4;
}

#player_5 {
  grid-area: player_5;
}

#player_6 {
  grid-area: player_6;
}

#player_7 {
  grid-area: player_7
}

#player_8 {
  grid-area: player_8;
}

#msg {
  color: black;
  font-family: "Alata", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin: 2% auto;
}

form {
  display: grid;
  width: 60%;
  margin: 2% auto;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "name_label name"
    "season_label season"
    "submit submit"
}

form label {
  font-family: "Alata", sans-serif;
  font-size: 1.25rem;
}

#submit {
  width: 40%;
  margin: 0 30%;
  grid-area: submit;
  font-family: "Martel", serif;
}

#name_label {
  grid-area: name_label;
}

#name {
  grid-area: name;
  width: 80%;
}

#season_label {
  grid-area: season_label;
}

#season {
  grid-area: season;
  width: 80%;
}

@media only screen and (max-width: 650px){
  #msg {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 520px){

  form {
    width: 80%;
  }

  form label {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 440px){
  #msg {
    font-size: 1.5rem;
  }
}
