#btn_grid {
  max-width: 960px;
  margin-bottom: 15%;
  grid-row-gap: .5rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    "player_1 player_2 player_3 player_4"
    "player_5 player_6 player_7 player_8"
    ". remove remove ."
}

#btn_grid button {
  font-family: "Bitter", serif;
  font-size: 1rem;
  height: 45px;
  margin: 0 auto;
  transition: width 1.5s;
  padding: .25rem .5rem;
}

#player_1 {
  grid-area: player_1;
}

#player_2 {
  grid-area: player_2;
}

#player_3 {
  grid-area: player_3;
}

#player_4 {
  grid-area: player_4;
}

#player_5 {
  grid-area: player_5;
}

#player_6 {
  grid-area: player_6;
}

#player_7 {
  grid-area: player_7
}

#player_8 {
  grid-area: player_8;
}

#remove {
  grid-area: remove;
  width: 60% !important;
  margin-top: 10% !important;
  font-size: 1rem !important;
}


form {
  display: grid;
  width: 60%;
  margin: 2% auto;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "name_label name"
    "season_label season"
    "submit submit"
}

form label {
  font-family: "Alata", sans-serif;
  font-size: 1.25rem;
}

#submit {
  width: 40%;
  margin: 0 30%;
  grid-area: submit;
  font-family: "Martel", serif;
}

#name_label {
  grid-area: name_label;
}

#name {
  grid-area: name;
  width: 80%;
}

#season_label {
  grid-area: season_label;
}

#season {
  grid-area: season;
  width: 80%;
}


@media only screen and (max-width: 560px){
  #btn_grid button {
    font-size: .75rem;
  }
}

@media only screen and (max-width: 520px){
  form {
    width: 80%;
  }

  form label {
    font-size: .8rem;
  }
}
  #btn_grid button {
    font-size: .6rem;
  }
}
