/*
rgba(255, 0, 72, 1) - pinkish red
rgba(0, 81, 255, 1) - royal blue
rgba(245, 249, 255, 1) - pale white
rgba(56, 56, 56, 1) - dark grey
*/

body {
  background-color: rgba(245, 249, 255, 1);
  color: rgba(56, 56, 56, 1);
  margin: 0;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

table {
  width: 75%;
  margin: 2% auto;
  padding: .5rem;
  text-align: center;
}

tr, th, td {
  padding: .5rem;
}

tr {
  font-size: 1.25rem;
}

td {
  font-size: 1rem;
  font-family: 'Bitter', serif;
}

th {
  font-family: "Martel", serif;
  border-bottom: 2px solid rgba(0, 81, 255, 1);
}

h2 {
  width: 75%;
  margin: 2% auto 0 auto;
  padding: .5rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Alata", sans-serif;
}

p {
  width: 75%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  font-size: .75rem;
  font-family: Arial, sans-serif;
}

header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "title nav";
  align-items: center;
  border-bottom: 2px solid rgba(255, 0, 72, 1);
  font-family: "Alata", sans-serif;
}

#title {
  grid-area: title;
  width: 100%;
  margin-left: 2.5%;
  display: inline-block;
}

i {
  font-size: 1.25rem;
  font-style: normal;
}

nav {
  grid-area: nav;
  justify-self: end;
  margin-right: 5%;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 0 .5rem 0 .5rem;
  color: black;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Alata", sans-serif;
}

nav ul li a:hover {
  border-bottom: 2px solid rgba(0, 81, 255, 1);
}

header img {
  display: none;
}

canvas {
  margin: 0 auto;
  height: 60% !important;
  width: 60% !important;
  font-size: 2rem;
}

aside {
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "h1 h1 h1 h1"
    "kobe allen derrick hakeem"
    ". remove remove .";
}

aside h1 {
  margin: 2% auto 2% auto;
  text-align: center;
  grid-area: h1;
  font-family: "Alata", sans-serif;
}

aside button {
  width: 75%;
  font-family: "Alata", sans-serif;
  margin: 2% auto 2% auto;
  padding: .5rem 1rem;
  color: white;
}

aside button:hover{
  cursor: pointer;
}

#Kobe {
  grid-area: kobe;
  background-color: rgba(85, 37, 130, 1);
}

.kobe_pale {
  background-color: rgba(85, 37, 130, .5) !important;
}

#Allen {
  grid-area: allen;
  background-color: rgba(187, 151, 84, 1);
}

.allen_pale {
  background-color: rgba(187, 151, 84, .5) !important;
}

#Derrick {
  grid-area: derrick;
  background-color: rgba(206, 17, 65, 1);
}

.derrick_pale {
  background-color: rgba(206, 17, 65, .5) !important;
}

#Hakeem {
  grid-area: hakeem;
  background-color: rgba(255,  199,44, 1);
}

.hakeem_pale {
  background-color: rgba(255, 199, 44, .5) !important;
}

#remove {
  grid-area: remove;
  width: 80%;
  background-color: black;
  margin-bottom: 10%;
}

footer {
  width: 100%;
}

footer p {
  text-align: right;
  float: right;
}

/*max-width*/
/*at 910 px - navbar list stacks*/
/*restyle table at 960*/
/*mobile screens -
  4 row table
  //2 x 2 row of MVP buttons*/

@media only screen and (max-width: 645px){

  table {
    width: 90%;
  }

  table th {
    font-size: 1rem;
  }

  table td {
    font-size: .75rem;
  }

  th, tr, td {
    padding: .25rem;
  }
}

@media only screen and (max-width: 460px){

  aside {
    grid-template-areas:
      "h1 h1 h1 h1"
      "kobe kobe derrick derrick"
      "allen allen hakeem hakeem"
      ". remove remove ."
  }

  aside button {
    width: 75%;
    font-size: .8rem;
  }

  #remove {
    margin-top: 5%;
  }

  canvas {
    width: 80% !important;
    height: 80% !important;
  }

  table {
    width: 95%;
  }

  table th {
    font-size: .75rem;
  }

  th, tr, td {
    padding: .1rem;
  }

  header {
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "img nav";
  }

  header img {
    display: block;
    height: 60px;
    width: auto;
    grid-area: img;
    margin: 2% auto;
  }

  #title {
    display: none;
  }

}

/*table styles for very small screens*/
@media only screen and (max-width: 360px){
  table {
    width: 100%;
    padding: 0;
  }

  table th {
    font-size: .75rem;
  }

  table td {
    font-size: .5rem;
  }


}
