/*
rgba(255, 0, 72, 1) - pinkish red
rgba(0, 81, 255, 1) - royal blue
rgba(245, 249, 255, 1) - pale white
rgba(56, 56, 56, 1) - dark grey
*/

header {
  max-width: 1400px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgba(245, 249, 255, 1);
  color: rgba(56, 56, 56, 1);
  margin: 0;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

h2 {
  width: 75%;
  margin: 2% auto 0 auto;
  padding: .5rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Alata", sans-serif;
}

@media only screen and (max-width: 650px){
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 505px){
  header h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 440px){
  h2 {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media only screen and (max-width: 350px){
  h2 {
    font-size: 1.25rem;
  }
}

p {
  width: 75%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  font-size: .75rem;
  font-family: Arial, sans-serif;
}

.reg_p {
  padding: 1.5rem;
  border-top: 2px solid rgba(255, 0, 72, 1);
  border-bottom: 2px solid rgba(0, 81, 255, 1);
  font-style: normal;
  font-size: 1rem;
  margin-top: 5%;
  font-family: "Martel", sans-serif;
  line-height: 140%;
}

header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "title nav";
  align-items: center;
  border-bottom: 2px solid rgba(255, 0, 72, 1);
  font-family: "Alata", sans-serif;
}

#title {
  grid-area: title;
  width: 100%;
  margin-left: 2.5%;
  display: inline-block;
}

i {
  font-size: 1.25rem;
  font-style: normal;
}

nav {
  grid-area: nav;
  justify-self: end;
  margin-right: 5%;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 0 .5rem 0 .5rem;
  color: black;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Alata", sans-serif;
}

nav ul li a:hover {
  border-bottom: 2px solid rgba(0, 81, 255, 1);
}

header img {
  display: none;
}

canvas {
  margin: 0 auto;
  height: 60% !important;
  width: 60% !important;
  font-size: 2rem;
}


footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

footer p {
  text-align: right;
  width: 100%;
  margin-top: 10%;
}


/*max-width*/
/*at 910 px - navbar list stacks*/
/*restyle table at 960*/
/*mobile screens -
  4 row table
  //2 x 2 row of MVP buttons*/

@media only screen and (max-width: 645px){

  table {
    width: 90%;
  }

  table th {
    font-size: 1rem;
  }

  table td {
    font-size: .75rem;
  }

  th, tr, td {
    padding: .25rem;
  }
}

@media only screen and (max-width: 460px){

  canvas {
    width: 80% !important;
    height: 80% !important;
  }


  header {
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "img nav";
  }

  nav ul li a {
    font-size: 1rem;
  }

  header img {
    display: block;
    height: 60px;
    width: auto;
    grid-area: img;
    margin: 2% auto;
  }

  #title {
    display: none;
  }

}
